:root {
  /* COLORS */
  --primary-color: #2E4057;
  --primary-shade-color: #4d6d96;
  --secondary-color: #e2cc06;
  --base-color: #cddfec;
  --text-color: #212529;
  --accent-color: #468C98;
  --alert-color: #DC3545;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
  list-style-type: none;
}

button {
  background-color: var(--primary-color);
  color: inherit;
}

.container {
  display: grid;
  
  grid-template: 
    "nav header" 2fr 
    "nav main  " 6fr
    "nav main  " 5fr
    "nav ....  " 1fr / 1fr 4fr;

  gap: 10px;

  height: 100vh;
  background-color: var(--accent-color);
  color: var(--text-color);
}

.nav {
  grid-area: nav;
  max-width: 350px;

  display: grid;
  padding: 1em;
  
  background-color: var(--primary-color);
  color: var(--base-color);
}

nav li {
  padding-bottom: 1em;
}

nav li:hover {
  text-decoration-line: underline;
  font-weight: bold;
  cursor: pointer;
}

.header {
  grid-area: header;
  display: grid;
  grid-template: 
  "search profile" 1fr
  "greeting engagement" 1.2fr / 2.5fr 1.5fr
  ;
}

.search {
  grid-area: search;

  display: grid;

  padding: 1em;
  background-color: var(--base-color);


  align-items: center;
}

.search input {
  border: none;
  border-radius: 1em;
  height: 2em;
  padding: 1em;
  background-color: var(--primary-color);
  color: var(--base-color);
}
.search input:hover {
  background-color: var(--primary-shade-color);
}
.search input:focus {
  background-color: var(--primary-shade-color);
}

.search input::placeholder {
  color: var(--base-color);
}

.profile {
  grid-area: profile;
  
  display: flex;

  padding: 1em;
  background-color: var(--base-color);

  align-items: center;
  justify-content: space-evenly;
}
.greeting {
  grid-area: greeting;

  display: grid;
  grid-template-columns: 1fr 3fr;

  padding: 1em;
  background-color: var(--base-color);
}
.engagement {
  grid-area: engagement;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  justify-content: right;
  align-items: center;

  padding: 1em;
  background-color: var(--base-color);
}


.engagement button {
  border: none;
  border-radius: 1em;
  height: 2.5em;
  color: var(--base-color);
}


.engagement button:hover {
  font-weight: bold;
  background-color: var(--primary-shade-color);
  cursor: pointer;
}
.main {
  grid-area: main;

  display: grid;
  grid-template: 
  "courses glance" 
  "courses connect";
  grid-template-columns: 3fr 1fr;
  background-color: var(--base-color);
}

.courses {
  grid-area: courses;

  display: grid;
  grid-template: 
  "coursesHeader coursesHeader coursesHeader" 1fr
  "courseBody courseBody courseBody " 10fr
  ;
}

.coursesHeader {
  grid-area: coursesHeader;

}

.courseBody {
  grid-area: courseBody;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, .5fr));
}

.course {
  display: grid;
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
  border-width: 3px;
  border-style: ridge;
  border-top-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 3px;
  padding: 5px;
  margin: 5px;

  max-width: 350px;
  max-height: 200px;
}

.courseEngagement {
  display: flex;
  gap: 2em;
  justify-content: right;
  margin-right: 1em;
  max-height: 2em;
}

.courseEngagement button {
  border: none;
  background-color: inherit;
}


.icon {
  width: 16px;
}

.icon.large {
  width: 32px;
}

.icon:hover {
  cursor: pointer;
}

.glance {
  grid-area: glance;
  display: grid;
  border: 1px solid black;
  padding: 1em;
}

.glanceHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.glance p {
  margin-top: .5em;
}

.glance p:hover {
  text-decoration-line: underline;
  cursor: pointer;
}

.connect {
  grid-area: connect;
  display: grid;
  border: 1px solid black;
  padding: 1em;
}

.connect .contact {
  display: flex;
  gap: 1em;
}

.avatar.small {
  width: 3em;
}
.avatar.large {
  width: 5em;
}

.avatar:hover {
  cursor: pointer;
}

.contact {
  display: flex;
  align-items: center;
}

.contactName {
  display: flex;
  flex-direction: column;
}